Repository datascientest-fastAPI-project-group-25/fastAPI-project-app: changes, and which lefthook commands are due for each by the changed paths.
All: black, ruff, bandit, trailing-whitespace, check-yaml, check-merge-conflict

lefthook.yml:

# Lefthook configuration for FastAPI project
# See https://github.com/evilmartians/lefthook for more information

# Global options
skip_output:
  - meta
  - summary
  - success

# Pre-commit hooks
pre-commit:
  parallel: true
  commands:
    black:
      glob: "*.py"
      run: black {staged_files}
    ruff:
      glob: "*.py"
      run: ruff check --fix {staged_files} && ruff format {staged_files}
    bandit:
      glob: "*.py"
      run: bandit -ll {staged_files}
    trailing-whitespace:
      glob: "*"
      exclude: "^.*\\.snap$"
      run: sed -i '' -e 's/[[:space:]]*$//' {staged_files}
    check-yaml:
      glob: "*.{yml,yaml}"
      run: yamllint -d relaxed {staged_files}
    check-merge-conflict:
      glob: "*"
      run: grep -L "^<<<<<<< " {staged_files} || true

# Pre-push hooks
pre-push:
  parallel: true
  commands:
    block-main-push:
      run: |
        # Get the current branch and target branch
        current_branch=$(git symbolic-ref --short HEAD)
        target_branch=$(git rev-parse --abbrev-ref @{upstream} | sed 's/origin\///')

        # Block direct pushes to main
        if [ "$current_branch" = "main" ] || [ "$target_branch" = "main" ]; then
          echo "❌ ERROR: Direct pushes to main branch are not allowed."
          echo "Please create a feature (feat/*) or fix branch and submit a pull request instead."
          echo "Run: ./scripts/create-branch.sh to create a proper branch."
          exit 1
        fi
    pytest:
      root: "backend/"
      run: pytest -xvs app/tests/

# Post-checkout hook to prompt for branch creation when checking out main
post-checkout:
  commands:
    branch-prompt:
      run: ./hooks/post-checkout.sh $1 $2 $3

# Commit message validation - simplified to be less strict
commit-msg:
  commands:
    lint-commit-msg:
      run: |
        commit_msg_file=$1
        commit_msg=$(cat $commit_msg_file)

        # Basic validation - just ensure there's a meaningful message
        if [ ${#commit_msg} -lt 10 ]; then
          echo "❌ Commit message is too short."
          echo "Please provide a meaningful commit message (at least 10 characters)."
          exit 1
        fi

fix: ensure Docker images have proper version labels and improve version verification
  .github/scripts/extract-version-from-image.sh
  .github/workflows/build-image.yml
  .github/workflows/build-prod-image.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

chore: removing codebuddy and adding symlink to plan doc
  .codebuddy/.gitignore
  .codebuddy/summary.md
  PLAN.md
Due: trailing-whitespace, check-merge-conflict

Add simple monitoring tests with GitHub Actions workflow
  .github/workflows/monitoring-test.yml
  tests/monitoring/README.md
  tests/monitoring/test_monitoring_services.py
Due: black, ruff, bandit, trailing-whitespace, check-yaml, check-merge-conflict

feat: Add SHA to trigger-helm-release payload and update PLAN.md
  .github/workflows/trigger-helm-release.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

refactor(workflow): Improve trigger-helm-release.yml payload generation
  .github/workflows/trigger-helm-release.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: bump version to 0.2.2 for staging test
  VERSION
Due: trailing-whitespace, check-merge-conflict

Promote fix/staging-test to stg (v0.2.3) (#229)
  .github/workflows/build-image.yml
  VERSION
Due: trailing-whitespace, check-yaml, check-merge-conflict

Release: Production deployment (#230)
  VERSION
Due: trailing-whitespace, check-merge-conflict

feat: production flow test change
  README.md
Due: trailing-whitespace, check-merge-conflict

Promote feat/production-test to stg (v0.3.0) (#231)
  README.md
  VERSION
Due: trailing-whitespace, check-merge-conflict

fix: secure workflow files by using environment variables
  .github/workflows/lint-pr-commits.yml
  .github/workflows/update-pr-title.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: trigger helm update fix test
  README.md
Due: trailing-whitespace, check-merge-conflict

Promote fix/trigger-helm-update to stg (v0.3.1) (#233)
  .github/workflows/lint-pr-commits.yml
  .github/workflows/update-pr-title.yml
  README.md
  VERSION
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: trigger helm update fix test 2
  README.md
Due: trailing-whitespace, check-merge-conflict

Promote fix/trigger-helm-update-2 to stg (v0.3.2) (#234)
  README.md
  VERSION
Due: trailing-whitespace, check-merge-conflict

fix: trigger helm update fix test 3
  README.md
Due: trailing-whitespace, check-merge-conflict

Promote fix/trigger-helm-update-3 to stg (v0.3.3) (#235)
  README.md
  VERSION
Due: trailing-whitespace, check-merge-conflict

fix: trigger helm update fix test 4
  README.md
Due: trailing-whitespace, check-merge-conflict

Promote fix/trigger-helm-update-4 to stg (v0.3.4) (#236)
  README.md
  VERSION
Due: trailing-whitespace, check-merge-conflict

fix: trigger helm update fix test 5
  README.md
Due: trailing-whitespace, check-merge-conflict

Promote fix/trigger-helm-update-5 to stg (v0.3.5) (#237)
  README.md
  VERSION
Due: trailing-whitespace, check-merge-conflict

fix: trigger helm update fix test 6
  README.md
Due: trailing-whitespace, check-merge-conflict

Promote fix/trigger-helm-update-6 to stg (v0.3.6) (#238)
  README.md
  VERSION
Due: trailing-whitespace, check-merge-conflict

fix: update RequestLoggingMiddleware comment for CI/CD workflow testing
  backend/app/main.py
Due: black, ruff, bandit, trailing-whitespace, check-merge-conflict

Promote fix/test-workflow to stg (v0.3.7) (#239)
  VERSION
  backend/app/main.py
Due: black, ruff, bandit, trailing-whitespace, check-merge-conflict

docs: improve CI/CD pipeline documentation
  README.md
Due: trailing-whitespace, check-merge-conflict

Promote fix/test-workflow to stg (v0.3.7) (#240)
  README.md
Due: trailing-whitespace, check-merge-conflict

feat: Trigger CI for release workflow test
  README.md
Due: trailing-whitespace, check-merge-conflict

Promote feat/trigger-release-update-1 to stg (#241)
  README.md
Due: trailing-whitespace, check-merge-conflict

chore: trigger build
  README.md
Due: trailing-whitespace, check-merge-conflict

refactor(ci): use pnpm cache and remove cd in lint-pr-commits workflow
  .github/workflows/lint-pr-commits.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

Promote fix/pnpm-lint to stg (v0.3.8) (#243)
  .github/workflows/lint-pr-commits.yml
  README.md
  VERSION
Due: trailing-whitespace, check-yaml, check-merge-conflict

Promote fix/merge-stg-into-main to stg (v0.3.9) (#244)
  VERSION
Due: trailing-whitespace, check-merge-conflict

fix: trigger ci
  README.md
Due: trailing-whitespace, check-merge-conflict

Promote fix/merge-stg-into-main to stg (v0.3.9) (#245)
  README.md
Due: trailing-whitespace, check-merge-conflict

fix: improve semver and actions
  .github/scripts/format-pr-title.sh
  .github/workflows/lint-pr-commits.yml
  .github/workflows/semantic-pr-merge.yaml
  .github/workflows/update-helm.yaml
  .github/workflows/update-pr-title.yml
  README.md
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix:: Promote fix/merge-stg-into-main to stg (v0.3.9) (#246)
  .github/scripts/format-pr-title.sh
  .github/workflows/lint-pr-commits.yml
  .github/workflows/semantic-pr-merge.yaml
  .github/workflows/update-helm.yaml
  .github/workflows/update-pr-title.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

feat(staging): update-pr-naming-convention
  .github/scripts/format-pr-title.sh
  scripts/extract_commit_type.sh
Due: trailing-whitespace, check-merge-conflict

feat(staging):: Promote feat/update-pr-naming-convention to stg (#247)
  .github/scripts/format-pr-title.sh
  README.md
  scripts/extract_commit_type.sh
Due: trailing-whitespace, check-merge-conflict
