Repository datascientest-fastAPI-project-group-25/fastAPI-project-app: changes, and which lefthook commands are due for each by the changed paths.
All: black, ruff, bandit, trailing-whitespace, check-yaml, check-merge-conflict

lefthook.yml:

# Lefthook configuration for FastAPI project
# See https://github.com/evilmartians/lefthook for more information

# Global options
skip_output:
  - meta
  - summary
  - success

# Pre-commit hooks
pre-commit:
  parallel: true
  commands:
    black:
      glob: "*.py"
      run: black {staged_files}
    ruff:
      glob: "*.py"
      run: ruff check --fix {staged_files} && ruff format {staged_files}
    bandit:
      glob: "*.py"
      run: bandit -ll {staged_files}
    trailing-whitespace:
      glob: "*"
      exclude: "^.*\\.snap$"
      run: sed -i '' -e 's/[[:space:]]*$//' {staged_files}
    check-yaml:
      glob: "*.{yml,yaml}"
      run: yamllint -d relaxed {staged_files}
    check-merge-conflict:
      glob: "*"
      run: grep -L "^<<<<<<< " {staged_files} || true

# Pre-push hooks
pre-push:
  parallel: true
  commands:
    block-main-push:
      run: |
        # Get the current branch and target branch
        current_branch=$(git symbolic-ref --short HEAD)
        target_branch=$(git rev-parse --abbrev-ref @{upstream} | sed 's/origin\///')

        # Block direct pushes to main
        if [ "$current_branch" = "main" ] || [ "$target_branch" = "main" ]; then
          echo "❌ ERROR: Direct pushes to main branch are not allowed."
          echo "Please create a feature (feat/*) or fix branch and submit a pull request instead."
          echo "Run: ./scripts/create-branch.sh to create a proper branch."
          exit 1
        fi
    pytest:
      root: "backend/"
      run: pytest -xvs app/tests/

# Post-checkout hook to prompt for branch creation when checking out main
post-checkout:
  commands:
    branch-prompt:
      run: ./hooks/post-checkout.sh $1 $2 $3

# Commit message validation - simplified to be less strict
commit-msg:
  commands:
    lint-commit-msg:
      run: |
        commit_msg_file=$1
        commit_msg=$(cat $commit_msg_file)

        # Basic validation - just ensure there's a meaningful message
        if [ ${#commit_msg} -lt 10 ]; then
          echo "❌ Commit message is too short."
          echo "Please provide a meaningful commit message (at least 10 characters)."
          exit 1
        fi

fix: add database migrations and correct UV configuration
  .github/workflows/utils/Dockerfile.workflow-test
Due: trailing-whitespace, check-merge-conflict

feat: improve local act setup
  .github/workflows/utils/Dockerfile.workflow-test
  .github/workflows/utils/docker-entrypoint.sh
  Makefile
  scripts/test-workflow-selector.js
  scripts/test-workflow.sh
Due: trailing-whitespace, check-merge-conflict

fix: correct UV configuration in pyproject.toml
  backend/pyproject.toml
Due: trailing-whitespace, check-merge-conflict

fix: update UV configuration in pyproject.toml
  backend/pyproject.toml
Due: trailing-whitespace, check-merge-conflict

fix: update workflow configuration for stg branch and fix docker setup for local testing
  .github/workflows/merge-to-dev.yml
  .github/workflows/pr-to-dev.yml
  .github/workflows/utils/Dockerfile.workflow-test
  .github/workflows/utils/docker-entrypoint.sh
  Makefile
  backend/pyproject.toml
  pnpm-lock.yaml
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: add integration test markers to fix workflow tests
  backend/app/tests/integration/test_integration.py
  backend/pytest.ini
Due: black, ruff, bandit, trailing-whitespace, check-merge-conflict

fix: add POSTGRES_PASSWORD env var to GitHub Actions workflow
  .github/workflows/tests.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

chore: remove redundant workflow files
  .github/workflows/dev-branch-checks.yml
  .github/workflows/development-branch-push.yml
  .github/workflows/pr-to-stg-creation.yml
  .github/workflows/pr-to-stg.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: enhance database initialization in GitHub Actions workflow to fix failing tests
  .github/workflows/tests.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

Fix frontend tests by implementing component-specific mocking approach
  frontend/src/components/ApiExample/UserApi.test.tsx
  frontend/src/components/Common/Navbar.test.tsx
  frontend/src/components/Common/Navbar.tsx
  frontend/src/components/Common/UserMenu.test.tsx
  frontend/src/hooks/useNavbarDisplay.ts
  frontend/src/test/components.tsx
  frontend/src/test/setup.tsx
  frontend/src/test/theme.ts
  frontend/src/test/utils.tsx
Due: trailing-whitespace, check-merge-conflict

fix: update test config and mocks to resolve frontend test issues
  .github/workflows/tests.yml
  backend/app/tests/README.md
  backend/app/tests/unit/test_user_routes.py
  backend/app/tests/unit/test_user_service.py
  frontend/package.json
  frontend/playwright.config.ts
  frontend/src/components/ApiExample/UserApi.tsx
  frontend/src/test/README.md
  frontend/src/test/mocks/chakra-ui.tsx
  frontend/src/test/mocks/handlers.ts
  frontend/src/test/mocks/server.ts
  frontend/src/test/test-utils.tsx
  frontend/src/test/utils/responsive-testing.ts
  frontend/src/vitest.d.ts
  frontend/test/setup.tsx
  frontend/tsconfig.json
  frontend/vite.config.ts
  frontend/vitest.config.ts
  package.json
  pnpm-lock.yaml
Due: black, ruff, bandit, trailing-whitespace, check-yaml, check-merge-conflict

feat: implement comprehensive test suite
  backend/app/tests/integration/test_integration.py
  backend/app/tests/unit/test_user_routes.py
  backend/app/tests/unit/test_user_service.py
  docker-compose.test.yml
  frontend/package.json
  frontend/src/components/ApiExample/UserApi.test.tsx
  frontend/src/components/ApiExample/UserApi.tsx
  frontend/src/components/Common/Navbar.test.tsx
  frontend/src/components/Common/Navbar.tsx
  frontend/src/components/Common/UserMenu.test.tsx
  frontend/src/hooks/useNavbarDisplay.ts
  frontend/src/main.tsx
  frontend/src/test/components.tsx
  frontend/src/test/mocks/chakra-ui.tsx
  frontend/src/test/mocks/handlers.ts
  frontend/src/test/mocks/server.ts
  frontend/src/test/setup.tsx
  frontend/src/test/test-utils.tsx
  frontend/src/test/theme.ts
  frontend/src/test/utils.tsx
  frontend/src/test/utils/responsive-testing.ts
  frontend/src/vitest.d.ts
Due: black, ruff, bandit, trailing-whitespace, check-yaml, check-merge-conflict

fix: update bandit configuration to exclude virtual environment packages
  backend/.bandit
Due: trailing-whitespace, check-merge-conflict

fix: update pre-commit bandit configuration to exclude virtual environment packages
  .pre-commit-config.yaml
Due: trailing-whitespace, check-yaml, check-merge-conflict

perf: optimize bandit security scanning configuration
  .pre-commit-config.yaml
  backend/.bandit
Due: trailing-whitespace, check-yaml, check-merge-conflict

Refactor subprocess call in block-main-push.py for improved security
  scripts/block-main-push.py
Due: black, ruff, bandit, trailing-whitespace, check-merge-conflict

Update frontend test files for improved unit testing
  frontend/src/components/Common/Navbar.test.tsx
  frontend/test/setup.tsx
Due: trailing-whitespace, check-merge-conflict

style: format frontend code with biome
  frontend/src/test/setup.tsx
  frontend/test/setup.tsx
  frontend/vite.config.ts
Due: trailing-whitespace, check-merge-conflict

fix: update biome check command format
  .github/workflows/formatting.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: remove --write flag from biome check command
  .github/workflows/formatting.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: separate format and check steps in frontend workflow
  .github/workflows/formatting.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: remove redundant catch clause in UserApi.tsx
  frontend/src/components/ApiExample/UserApi.tsx
Due: trailing-whitespace, check-merge-conflict

fix: update Biome check command to match local config
  .github/workflows/formatting.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: frontend test formatting and accessibility issues
  frontend/src/components/ApiExample/UserApi.test.tsx
  frontend/src/components/Common/Navbar.test.tsx
  frontend/src/components/Common/UserMenu.test.tsx
  frontend/src/test/components.tsx
  frontend/src/test/mocks/chakra-ui.tsx
  frontend/src/test/setup.tsx
  frontend/test/setup.tsx
Due: trailing-whitespace, check-merge-conflict

fix: add biome script to package.json
  frontend/package.json
Due: trailing-whitespace, check-merge-conflict

ci: prevent duplicate workflow runs with PR checks
  .github/workflows/dev-branch-checks.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

ci: improve workflow to avoid duplicate runs when PR exists
  .github/workflows/dev-branch-checks.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

ci: fix workflow to correctly handle PR and push events
  .github/workflows/dev-branch-checks.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

ci: fix workflow to correctly handle PR and push events again
  .github/workflows/dev-branch-checks.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

ci: fix workflow to correctly handle PR and push events again again
  .github/workflows/dev-branch-checks.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

ci: fix workflow to correctly handle PR and push events - with marketplace action
  .github/workflows/dev-branch-checks.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

ci: fix workflow to correctly handle PR and push events - with marketplace action again
  .github/workflows/dev-branch-checks.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

ci: fix workflow to correctly handle PR and push events - with marketplace action - fix error
  .github/workflows/dev-branch-checks.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

ci: fix workflow to only run pr or push
  .github/workflows/dev-branch-checks.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: properly reference formatting workflow in dev branch checks
  .github/workflows/dev-branch-checks.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: replace workflow reference with inline formatting commands
  .github/workflows/dev-branch-checks.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

refactor: restructure workflows to follow best practices
  .github/workflows/dev-branch-checks.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: simplify job dependencies in workflow
  .github/workflows/dev-branch-checks.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: add input argument to Biome lint command
  .github/workflows/linting.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict
