Repository datascientest-fastAPI-project-group-25/fastAPI-project-app: changes, and which lefthook commands are due for each by the changed paths.
All: black, ruff, bandit, trailing-whitespace, check-yaml, check-merge-conflict

black:
  run: black {staged_files}

ruff:
  run: ruff check --fix {staged_files} && ruff format {staged_files}

bandit:
  run: bandit -ll {staged_files}

trailing-whitespace:
  run: sed -i '' -e 's/[[:space:]]*$//' {staged_files}

check-yaml:
  run: yamllint -d relaxed {staged_files}

check-merge-conflict:
  run: grep -L "^<<<<<<< " {staged_files} || true

chore: move package-lock.json to frontend directory
  frontend/package-lock.json
Due: trailing-whitespace, check-merge-conflict

feat(staging):: Promote feat/update-pr-naming-convention to stg (v0.4.0) (#248)
  VERSION
  frontend/package-lock.json
Due: trailing-whitespace, check-merge-conflict

fix: Update VERSION to 0.4.0
  VERSION
Due: trailing-whitespace, check-merge-conflict

Promote feat/trigger-release-update-1 to stg (#241)
  README.md
Due: trailing-whitespace, check-merge-conflict

Promote fix/pnpm-lint to stg (v0.3.8) (#243)
  .github/workflows/lint-pr-commits.yml
  README.md
  VERSION
Due: trailing-whitespace, check-yaml, check-merge-conflict

Promote fix/test-workflow to stg (v0.3.7) (#239)
  VERSION
  backend/app/main.py
Due: black, ruff, bandit, trailing-whitespace, check-merge-conflict

Promote fix/trigger-helm-update-4 to stg (v0.3.4) (#236)
  README.md
  VERSION
Due: trailing-whitespace, check-merge-conflict

Promote fix/trigger-helm-update-5 to stg (v0.3.5) (#237)
  README.md
  VERSION
Due: trailing-whitespace, check-merge-conflict

Promote fix/trigger-helm-update-2 to stg (v0.3.2) (#234)
  README.md
  VERSION
Due: trailing-whitespace, check-merge-conflict

Promote fix/trigger-helm-update-6 to stg (v0.3.6) (#238)
  README.md
  VERSION
Due: trailing-whitespace, check-merge-conflict

Promote fix/trigger-helm-update-3 to stg (v0.3.3) (#235)
  README.md
  VERSION
Due: trailing-whitespace, check-merge-conflict

Promote fix/test-workflow to stg (v0.3.7) (#240)
  README.md
Due: trailing-whitespace, check-merge-conflict

Promote feat/production-test to stg (v0.3.0) (#231)
  README.md
  VERSION
Due: trailing-whitespace, check-merge-conflict

Promote fix/trigger-helm-update to stg (v0.3.1) (#233)
  .github/workflows/lint-pr-commits.yml
  .github/workflows/update-pr-title.yml
  README.md
  VERSION
Due: trailing-whitespace, check-yaml, check-merge-conflict

Promote fix/trigger-helm-update to stg (v0.3.1) (#233)
  .github/workflows/lint-pr-commits.yml
  .github/workflows/update-pr-title.yml
  README.md
Due: trailing-whitespace, check-yaml, check-merge-conflict

Promote fix/trigger-helm-update-2 to stg (v0.3.2) (#234)
  README.md
Due: trailing-whitespace, check-merge-conflict

Promote fix/trigger-helm-update-3 to stg (v0.3.3) (#235)
  README.md
Due: trailing-whitespace, check-merge-conflict

Promote fix/trigger-helm-update-4 to stg (v0.3.4) (#236)
  README.md
Due: trailing-whitespace, check-merge-conflict

Promote fix/trigger-helm-update-5 to stg (v0.3.5) (#237)
  README.md
Due: trailing-whitespace, check-merge-conflict

Promote fix/trigger-helm-update-6 to stg (v0.3.6) (#238)
  README.md
Due: trailing-whitespace, check-merge-conflict

Promote fix/pnpm-lint to stg (v0.3.8) (#243)
  .github/workflows/lint-pr-commits.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

Promote feat/update-pr-naming-convention to stg (v0.5.0) (#249)
  .github/workflows/lint-pr-commits.yml
  .github/workflows/update-pr-title.yml
  README.md
Due: trailing-whitespace, check-yaml, check-merge-conflict

Update yq installation method in Helm update workflow
  .github/workflows/update-helm.yaml
Due: trailing-whitespace, check-yaml, check-merge-conflict

Promote feat/update-pr-naming-convention to stg (v0.5.0) (#250)
  .github/workflows/update-helm.yaml
  VERSION
Due: trailing-whitespace, check-yaml, check-merge-conflict

chore: update version to 0.5.0
  VERSION
Due: trailing-whitespace, check-merge-conflict

Promote feat/update-pr-naming-convention to stg (#251)
  README.md
  VERSION
Due: trailing-whitespace, check-merge-conflict

chore: update VERSION to 0.5.0 to resolve conflict in PR #232
  VERSION
Due: trailing-whitespace, check-merge-conflict

fix: update VERSION to 0.5.0 to resolve conflict in PR #232 (#253)
  VERSION
Due: trailing-whitespace, check-merge-conflict

fix: update VERSION to 0.5.0 to resolve conflict in PR #232 (#255)
  .github/scripts/format-pr-title.sh
  .github/workflows/lint-pr-commits.yml
  .github/workflows/semantic-pr-merge.yaml
  .github/workflows/update-helm.yaml
  .github/workflows/update-pr-title.yml
  README.md
  backend/app/main.py
  frontend/package-lock.json
  scripts/extract_commit_type.sh
Due: black, ruff, bandit, trailing-whitespace, check-yaml, check-merge-conflict

Add branch protection scripts
  .github/workflows/check-disabled.yml
  .windsurfrules
  scripts/analyze-github.sh
  scripts/disable-branch-protection.sh
  scripts/enable-branch-protection.sh
Due: trailing-whitespace, check-yaml, check-merge-conflict

Promote fix/merge-main-into-stg-2 to stg (#258)
  .github/workflows/check-disabled.yml
  .windsurfrules
  scripts/analyze-github.sh
  scripts/disable-branch-protection.sh
  scripts/enable-branch-protection.sh
Due: trailing-whitespace, check-yaml, check-merge-conflict

chore: reset version to 0.0.0
  VERSION
Due: trailing-whitespace, check-merge-conflict

Promote fix/reset-version to stg (v0.0.1) (#259)
  VERSION
Due: trailing-whitespace, check-merge-conflict

Promote fix/sync-stg-with-main to stg (#262)
  VERSION
Due: trailing-whitespace, check-merge-conflict

Path conditions:
  black: any of: *.py
  ruff: any of: *.py
  bandit: any of: *.py
  trailing-whitespace: any of: *, but not: ^.*\.snap$
  check-yaml: any of: *.{yml,yaml}
  check-merge-conflict: any of: *
