Repository datascientest-fastAPI-project-group-25/fastAPI-project-app: changes, and which lefthook commands are due for each by the changed paths.
All: black, ruff, bandit, trailing-whitespace, check-yaml, check-merge-conflict

black:
  run: black {staged_files}

ruff:
  run: ruff check --fix {staged_files} && ruff format {staged_files}

bandit:
  run: bandit -ll {staged_files}

trailing-whitespace:
  run: sed -i '' -e 's/[[:space:]]*$//' {staged_files}

check-yaml:
  run: yamllint -d relaxed {staged_files}

check-merge-conflict:
  run: grep -L "^<<<<<<< " {staged_files} || true

fix: skip backend tests in test-fixed target
  Makefile
Due: trailing-whitespace, check-merge-conflict

fix: skip all tests in test-fixed target
  Makefile
Due: trailing-whitespace, check-merge-conflict

feat: add force-merge-stg-to-main script
  scripts/force-merge-stg-to-main.sh
Due: trailing-whitespace, check-merge-conflict

feat: implement CI/CD workflow for feature branches and semantic versioning
  .github/workflows/build-stg-image.yml
  .github/workflows/feature-branch-pr.yml
  .github/workflows/merge-to-main.yml
  .github/workflows/merge-to-staging.yml
  .github/workflows/pr-checks.yml
  .github/workflows/pr-workflow.yml
  Makefile
  VERSION
  docs/ci-cd-workflow.md
  scripts/test-ci-workflow.sh
  version.py
Due: black, ruff, bandit, trailing-whitespace, check-yaml, check-merge-conflict

fix: add virtual environment creation in PR checks workflow
  .github/workflows/pr-checks.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: update PR checks workflow to fix dependency and syntax issues
  .github/workflows/pr-checks.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: improve error handling and add command-line options to test-ci-workflow.sh
  scripts/test-ci-workflow.sh
Due: trailing-whitespace, check-merge-conflict

fix: use lowercase repository names in Docker image tags
  .github/workflows/merge-to-main.yml
  .github/workflows/merge-to-staging.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: use lowercase repository names in Docker image tags for build-stg-image.yml
  .github/workflows/build-stg-image.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: use lowercase repository names in PR body of merge-to-staging.yml
  .github/workflows/merge-to-staging.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: use lowercase repository names in Docker image tags for all workflow files
  .github/workflows/dev-branch-checks.yml
  .github/workflows/merge-to-stg.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: update merge-to-main.yml workflow to handle PR merges and semantic versioning
  .github/workflows/merge-to-main.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: update Docker build context and add build arguments for versioning
  .github/workflows/build-stg-image.yml
  .github/workflows/merge-to-main.yml
  .github/workflows/merge-to-staging.yml
  backend/Dockerfile
Due: trailing-whitespace, check-yaml, check-merge-conflict

Trying to fix the workflows
  .github/workflows/README.md
  .github/workflows/ci.yml
  .github/workflows/local-runner.yml
  .github/workflows/merge-to-staging.yml
  .github/workflows/pr-to-main.yml
  .gitignore
  .idea/codebuddy.xml
  CD-automation.md
  Makefile
  docs/development/scripts.md
  docs/workflows/github-actions.md
  scripts/manage-prs.sh
  scripts/test-workflow.sh
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: move all workflows to disabled and only have pr creation
  .github/workflows/create-pull-request.yml
  .github/workflows/disabled/approve-pr.yml
  .github/workflows/disabled/automerge.yml
  .github/workflows/disabled/branch-protection.yml
  .github/workflows/disabled/build-stg-image.yml
  .github/workflows/disabled/ci.yml
  .github/workflows/disabled/feature-branch-pr.yml
  .github/workflows/disabled/formatting.yml
  .github/workflows/disabled/linting.yml
  .github/workflows/disabled/local-runner.yml
  .github/workflows/disabled/merge-to-main.yml
  .github/workflows/disabled/merge-to-staging.yml
  .github/workflows/disabled/pr-checks.yml
  .github/workflows/disabled/pr-to-stg-creation.yml
  .github/workflows/disabled/tests.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

test: switch PR creation to peter-evans/create-pull-request, disable gh CLI workflow for evaluation
  .github/workflows/create-pull-request.yml
  .github/workflows/exp-pr-peter-evans.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: replace github action app with gh cli for auto pr
  .github/workflows/create-pull-request.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: assignee corrected
  .github/workflows/create-pull-request.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: trigger gh action
  .github/workflows/create-pull-request.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

test: setup up only one workflow
  .github/workflows/create-pull-request.yml
  .github/workflows/disabled/dev-branch-checks.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

Reorganize scripts directory and convert JS to TS with tests
  Makefile
  pnpm-lock.yaml
  run-script-tests.sh
  scripts/.gitignore
  scripts/README.md
  scripts/branch/__tests__/create-branch.test.ts
  scripts/branch/__tests__/test_block_main_push.py
  scripts/branch/__tests__/test_feature.sh
  scripts/branch/block-main-push.py
  scripts/branch/create-branch.ts
  scripts/branch/feature.sh
  scripts/ci/test-ci-workflow.sh
  scripts/dev/__tests__/setup-precommit.test.ts
  scripts/dev/dev-generate-client.sh
  scripts/dev/setup-precommit.js
  scripts/dev/setup-precommit.ts
  scripts/package-lock.json
  scripts/package.json
  scripts/test/__tests__/test-app.test.ts
  scripts/test/__tests__/test-workflow-selector.test.ts
  scripts/test/test-app.js
  scripts/test/test-app.ts
  scripts/test/test-workflow-selector.js
  scripts/test/test-workflow-selector.ts
  scripts/test/test-workflow.sh
  scripts/tsconfig.json
  scripts/utils/__tests__/string-utils.test.ts
  scripts/utils/index.ts
  scripts/vitest.config.ts
Due: black, ruff, bandit, trailing-whitespace, check-yaml, check-merge-conflict

Reorganize scripts directory and convert JS to TS with tests
  Makefile
  scripts/package.json
Due: trailing-whitespace, check-merge-conflict

Reorganize all scripts into logical directories
  organize-scripts.sh
  scripts/README.md
  scripts/block-main-push.py
  scripts/branch/create-branch.js
  scripts/ci/deploy-app.sh
  scripts/dev-generate-client.sh
  scripts/dev/setup-project.sh
  scripts/docs/update-docs.sh
  scripts/feature.sh
  scripts/setup-precommit.js
  scripts/test-app.js
  scripts/test-ci-workflow.sh
  scripts/test-workflow.sh
  scripts/test/diagnose-act.sh
  scripts/test/run-tests.sh
  scripts/test/test-local.sh
Due: black, ruff, bandit, trailing-whitespace, check-merge-conflict

Reorganize all scripts into logical directories
  Makefile
  pnpm-lock.yaml
Due: trailing-whitespace, check-yaml, check-merge-conflict

Update pre-commit config to use new script location
  .pre-commit-config.yaml
Due: trailing-whitespace, check-yaml, check-merge-conflict

chore: remove obsolete feature branch test script
  scripts/branch/__tests__/test_feature.sh
Due: trailing-whitespace, check-merge-conflict

chore: remove deprecated GitHub Actions workflows
  .github/workflows/local-ci.yml
  .github/workflows/merge-to-stg.yml
  .github/workflows/pr-workflow.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

chore: cleanup obsolete scripts
  scripts/app-status.sh
  scripts/check-prestart-status.sh
  scripts/deploy-app.sh
  scripts/diagnose-act.sh
  scripts/force-merge-stg-to-main.sh
  scripts/init_db.py
  scripts/manage-prs.sh
  scripts/merge-stg-to-main.sh
  scripts/run-tests.sh
  scripts/setup_project.sh
  scripts/test-docs-update.sh
  scripts/test-local.sh
  scripts/validate_env.py
Due: black, ruff, bandit, trailing-whitespace, check-merge-conflict

docs: update contribution rules and script documentation
  .windsurfrules
  scripts/README.md
Due: trailing-whitespace, check-merge-conflict

test: update test scripts
  scripts/test/diagnose-act.sh
  scripts/test/run-tests.sh
  scripts/test/test-local.sh
Due: trailing-whitespace, check-merge-conflict

test: add new test cases and reorganize scripts
  .github/workflows/disabled/local-ci.yml
  .github/workflows/disabled/merge-to-stg.yml
  .github/workflows/disabled/pr-workflow.yml
  scripts/branch/__tests__/feature.bats
  scripts/ci/__tests__/deploy-app.bats
  scripts/ci/__tests__/test-ci-workflow.bats
  scripts/deployment/__tests__/deploy-app.bats
  scripts/deployment/deploy-app.sh
  scripts/git/block-main-push.py
  scripts/git/force-merge-stg-to-main.sh
  scripts/git/manage-prs.sh
  scripts/git/merge-stg-to-main.sh
  scripts/setup/init_db.py
  scripts/setup/setup_project.sh
  scripts/setup/validate_env.py
  scripts/status/app-status.sh
  scripts/status/check-prestart-status.sh
  scripts/test/__tests__/diagnose-act.bats
  scripts/test/__tests__/run-frontend-tests.bats
  scripts/test/__tests__/run-tests.bats
  scripts/test/__tests__/test-docs-update.bats
  scripts/test/__tests__/test-local.bats
  scripts/test/__tests__/test-workflow.bats
  scripts/test/run-frontend-tests.sh
  scripts/test/test-docs-update.sh
Due: black, ruff, bandit, trailing-whitespace, check-yaml, check-merge-conflict

chore: replace peter-evans action, trivial changes, and pre-commit hook fixes
  .github/workflows/exp-pr-peter-evans.yml
  README.md
  TODO.md
  scripts/branch/__tests__/feature.bats
  scripts/ci/__tests__/deploy-app.bats
  scripts/ci/__tests__/test-ci-workflow.bats
  scripts/deployment/__tests__/deploy-app.bats
  scripts/dev/__tests__/dev-generate-client.bats
  scripts/dev/__tests__/setup-project.bats
  scripts/docs/__tests__/update-docs.bats
  scripts/git/__tests__/force-merge-stg-to-main.bats
  scripts/git/__tests__/manage-prs.bats
  scripts/git/merge-stg-to-main.sh
  scripts/status/__tests__/app-status.bats
  scripts/status/__tests__/check-prestart-status.bats
  scripts/test/__tests__/diagnose-act.bats
  scripts/test/__tests__/run-frontend-tests.bats
  scripts/test/__tests__/run-tests.bats
  scripts/test/__tests__/test-docs-update.bats
  scripts/test/__tests__/test-local.bats
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix(ci): minimal inputs for devops-infra/action-pull-request to avoid invalid input errors
  .github/workflows/exp-pr-peter-evans.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix(ci): switch to MACHINE_USER_TOKEN secret for PR creation
  .github/workflows/exp-pr-peter-evans.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix(ci): install GitHub CLI before PR creation to fix gh not found error
  .github/workflows/exp-pr-peter-evans.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

chore: add promote-stg-to-main workflow and commit all local changes
  .github/workflows/open-branch-to-stg-pr.yml
  .github/workflows/promote-stg-to-main.yml
  CLEANUP.md
  TODO.md
  backend/scripts/init_db.py
  organize-scripts.sh
  run-script-tests.sh
  scripts/branch/__tests__/feature.bats
  scripts/branch/block-main-push.py
  scripts/git/__tests__/force-merge-stg-to-main.bats
  scripts/git/__tests__/manage-prs.bats
  scripts/git/force-merge-stg-to-main.sh
  scripts/setup/init_db.py
  scripts/setup/setup_project.sh
  scripts/test/__tests__/diagnose-act.bats
  scripts/test/__tests__/test-docs-update.bats
  scripts/test/diagnose-act.sh
  scripts/test/test-docs-update.sh
Due: black, ruff, bandit, trailing-whitespace, check-yaml, check-merge-conflict

fix(ci): sanitize SOURCE_BRANCH env var assignment to avoid invalid format error
  .github/workflows/promote-stg-to-main.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix(ci): improve auto PR title and body in experimental PR creation workflow
  .github/workflows/open-branch-to-stg-pr.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: rename workflow
  .github/workflows/open-branch-to-stg-pr.yml
  .roo/mcp.json
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix(ci): safely write multiline PR_BODY to GITHUB_ENV in promote-stg-to-main workflow
  .github/workflows/promote-stg-to-main.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

Path conditions:
  black: any of: *.py
  ruff: any of: *.py
  bandit: any of: *.py
  trailing-whitespace: any of: *, but not: ^.*\.snap$
  check-yaml: any of: *.{yml,yaml}
  check-merge-conflict: any of: *
