Repository datascientest-fastAPI-project-group-25/fastAPI-project-app: changes, and which lefthook commands are due for each by the changed paths.
All: black, ruff, bandit, trailing-whitespace, check-yaml, check-merge-conflict

black:
  run: black {staged_files}

ruff:
  run: ruff check --fix {staged_files} && ruff format {staged_files}

bandit:
  run: bandit -ll {staged_files}

trailing-whitespace:
  run: sed -i '' -e 's/[[:space:]]*$//' {staged_files}

check-yaml:
  run: yamllint -d relaxed {staged_files}

check-merge-conflict:
  run: grep -L "^<<<<<<< " {staged_files} || true

refactor: streamline test workflow and fix reusable workflow usage
  .github/workflows/dev-branch-checks.yml
  .github/workflows/tests.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: use uv for backend dependency management
  .github/workflows/tests.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: remove uv cache from Python setup
  .github/workflows/tests.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: split backend and frontend tests into separate jobs
  .github/workflows/tests.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

style: format Python code with ruff
  backend/app/api/routes/users.py
  backend/app/core/db.py
  backend/app/crud.py
  backend/app/models/token.py
  backend/app/models/user.py
  backend/app/schemas/item.py
  backend/app/schemas/user.py
Due: black, ruff, bandit, trailing-whitespace, check-merge-conflict

refactor: reorganize test files and configuration
  backend/app/api/deps.py
  backend/app/api/main.py
  backend/app/api/routes/login.py
  backend/app/crud.py
  backend/app/db/session.py
  backend/app/utils.py
  backend/tests/api/test_login.py
  backend/tests/pytest.ini
Due: black, ruff, bandit, trailing-whitespace, check-merge-conflict

refactor: streamline workflow testing - Remove deprecated workflow scripts - Update test-workflow.sh to use GitHub Actions runner image
  .github/workflows/utils/test-workflow.sh
  debug-commit-msg.sh
  disable-workflows.sh
  enable-workflow.sh
  scripts/test-workflow-selector.js
  scripts/test-workflow.sh
Due: trailing-whitespace, check-merge-conflict

fix: remove trailing whitespace from Makefile
  Makefile
Due: trailing-whitespace, check-merge-conflict

style: format Python code with ruff
  backend/app/api/deps.py
  backend/app/api/routes/login.py
  backend/app/api/routes/utils.py
  backend/app/utils.py
  backend/tests/api/routes/test_items.py
  backend/tests/api/routes/test_login.py
  backend/tests/api/routes/test_users.py
  backend/tests/api/test_login.py
  backend/tests/conftest.py
  backend/tests/create_test_db.py
  backend/tests/crud/test_user.py
  backend/tests/unit/test_user_routes.py
Due: black, ruff, bandit, trailing-whitespace, check-merge-conflict

fix: update count_users function to return scalar value
  .idea/codebuddy.xml
  .idea/modules.xml
  Makefile
  backend/Dockerfile
  backend/alembic.ini
  backend/alembic/env.py
  backend/alembic/versions/bce7f77f10a8_create_tables.py
  backend/app/api/deps.py
  backend/app/api/routes/login.py
  backend/app/api/routes/utils.py
  backend/app/core/config.py
  backend/app/crud.py
  backend/app/db/check_db.py
  backend/app/email-templates/new_account.html
  backend/app/email-templates/reset_password.html
  backend/app/main.py
  backend/app/models.py
  backend/app/utils.py
  backend/create_tables.py
  backend/scripts/cleanup_alembic.sh
  backend/scripts/prestart.sh
  backend/scripts/reset_admin_password.py
  backend/test.db
  backend/tests/api/routes/test_login.py
  backend/tests/conftest.py
  backend/tests/crud/test_user.py
  backend/tests/unit/test_user_service.py
  backend/tests/utils/test_db.py
  backend/tests/utils/test_utils.py
  docker-compose.yml
  fastAPI-project-app.iml
  frontend/.env
  frontend/Dockerfile
  frontend/Dockerfile.dev
  frontend/package.json
  frontend/src/routes/login.tsx
  package.json
  pnpm-lock.yaml
  traefik/dynamic/config.yml
Due: black, ruff, bandit, trailing-whitespace, check-yaml, check-merge-conflict

style: format Python code with ruff
  backend/app/api/routes/utils.py
  backend/app/crud.py
  backend/app/db/check_db.py
  backend/app/utils.py
  backend/scripts/reset_admin_password.py
  backend/tests/conftest.py
  backend/tests/crud/test_user.py
  backend/tests/utils/test_db.py
  backend/tests/utils/test_utils.py
Due: black, ruff, bandit, trailing-whitespace, check-merge-conflict

chore: update Makefile and test configuration
  Makefile
Due: trailing-whitespace, check-merge-conflict

chore: add test.db to gitignore
  .gitignore
Due: trailing-whitespace, check-merge-conflict

chore: remove test.db from git tracking
  backend/test.db
Due: trailing-whitespace, check-merge-conflict

feat: enhance testing infrastructure with coverage and specific test commands
  Makefile
Due: trailing-whitespace, check-merge-conflict

fix: explicitly specify allowed HTTP methods in CORS configuration
  backend/app/main.py
Due: black, ruff, bandit, trailing-whitespace, check-merge-conflict

refactor: improve email and authentication functionality with better error handling
  backend/app/api/routes/login.py
  backend/app/utils.py
Due: black, ruff, bandit, trailing-whitespace, check-merge-conflict

fix: use correct HTTP status code 403 for permission errors
  backend/app/api/deps.py
Due: black, ruff, bandit, trailing-whitespace, check-merge-conflict

feat: enhance API with improved user routes and item CRUD operations
  backend/app/api/main.py
  backend/app/api/routes/users.py
  backend/app/crud.py
Due: black, ruff, bandit, trailing-whitespace, check-merge-conflict

test: update integration tests to match new API structure
  backend/tests/integration/test_integration.py
Due: black, ruff, bandit, trailing-whitespace, check-merge-conflict

test: update API route tests to match new API structure
  backend/tests/api/routes/test_login.py
  backend/tests/api/routes/test_private.py
  backend/tests/api/test_login.py
Due: black, ruff, bandit, trailing-whitespace, check-merge-conflict

test: update CRUD tests to match new API structure
  backend/tests/crud/test_user.py
Due: black, ruff, bandit, trailing-whitespace, check-merge-conflict

test: update script tests to match new API structure
  backend/tests/scripts/test_backend_pre_start.py
Due: black, ruff, bandit, trailing-whitespace, check-merge-conflict

test: update unit tests to match new API structure
  backend/tests/unit/test_user_routes.py
  backend/tests/unit/test_user_service.py
Due: black, ruff, bandit, trailing-whitespace, check-merge-conflict

test: update utility tests to match new API structure
  backend/tests/utils/item.py
  backend/tests/utils/test_utils.py
Due: black, ruff, bandit, trailing-whitespace, check-merge-conflict

chore: add frontend/coverage/ to .gitignore
  .gitignore
Due: trailing-whitespace, check-merge-conflict

Fix workflow and test issues, improve linting and formatting configuration
  .actrc
  .github/workflows/events/workflow_call.json
  .github/workflows/events/workflow_dispatch.json
  .github/workflows/formatting.yml
  .github/workflows/linting.yml
  .github/workflows/local-ci.yml
  .github/workflows/tests.yml
  .windsurfrules
  Makefile
  backend/app/api/routes/users.py
  backend/app/backend_pre_start.py
  backend/app/core/db.py
  backend/app/crud.py
  backend/app/tests_pre_start.py
  backend/create_tables.py
  backend/package.json
  backend/tests/api/routes/test_login.py
  backend/tests/api/routes/test_private.py
  backend/tests/api/test_login.py
  backend/tests/crud/test_user.py
  backend/tests/integration/test_integration.py
  backend/tests/unit/test_user_routes.py
  biome.json
  frontend/biome.json
  scripts/diagnose-act.sh
  scripts/test-workflow.sh
Due: black, ruff, bandit, trailing-whitespace, check-yaml, check-merge-conflict

fix: update workflow test configuration to avoid port conflicts
  .github/workflows/events/workflow_call.json
  .github/workflows/tests.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

feat: add merge-stg-to-main script and make target
  Makefile
  scripts/merge-stg-to-main.sh
Due: trailing-whitespace, check-merge-conflict

feat: update merge-stg-to-main script to force merge stg into main
  scripts/merge-stg-to-main.sh
Due: trailing-whitespace, check-merge-conflict

feat: add force-merge-stg-to-main script
  scripts/force-merge-stg-to-main.sh
Due: trailing-whitespace, check-merge-conflict

fix: bypass pre-commit hooks when force pushing to main
  scripts/force-merge-stg-to-main.sh
Due: trailing-whitespace, check-merge-conflict

fix: update local-ci.yml to use port 5433 for PostgreSQL and add test-fixed target to Makefile
  .github/workflows/local-ci.yml
  Makefile
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: improve test-fixed target to use virtual environment if available
  Makefile
Due: trailing-whitespace, check-merge-conflict

feat: add setup-venv script and make target
  Makefile
  scripts/setup-venv.sh
Due: trailing-whitespace, check-merge-conflict

fix: simplify test-fixed target to use system Python
  Makefile
Due: trailing-whitespace, check-merge-conflict

fix: use python3 instead of python in test-fixed target
  Makefile
Due: trailing-whitespace, check-merge-conflict

Path conditions:
  black: any of: *.py
  ruff: any of: *.py
  bandit: any of: *.py
  trailing-whitespace: any of: *, but not: ^.*\.snap$
  check-yaml: any of: *.{yml,yaml}
  check-merge-conflict: any of: *
