Repository datascientest-fastAPI-project-group-25/fastAPI-project-app: changes, and which lefthook commands are due for each by the changed paths.
All: black, ruff, bandit, trailing-whitespace, check-yaml, check-merge-conflict

black:
  run: black {staged_files}

ruff:
  run: ruff check --fix {staged_files} && ruff format {staged_files}

bandit:
  run: bandit -ll {staged_files}

trailing-whitespace:
  run: sed -i '' -e 's/[[:space:]]*$//' {staged_files}

check-yaml:
  run: yamllint -d relaxed {staged_files}

check-merge-conflict:
  run: grep -L "^<<<<<<< " {staged_files} || true

feat: enhance database initialization logging with engine details
  backend/scripts/init_db.py
Due: black, ruff, bandit, trailing-whitespace, check-merge-conflict

fix: update init_db script to use SQLModel instead of Base
  backend/scripts/init_db.py
Due: black, ruff, bandit, trailing-whitespace, check-merge-conflict

docs: update CI/CD pipeline graph to reflect current branch strategy
  README.md
Due: trailing-whitespace, check-merge-conflict

fix: add database connection timeout for more robust initialization
  backend/scripts/init_db.py
Due: black, ruff, bandit, trailing-whitespace, check-merge-conflict

fix: make database connection timeout configurable via environment variable
  backend/scripts/init_db.py
Due: black, ruff, bandit, trailing-whitespace, check-merge-conflict

fix: update test user password to meet validation requirements
  .github/workflows/main-branch.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: add email configuration variables to workflow for tests
  .github/workflows/main-branch.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: install linting tools before running linting checks
  .github/workflows/main-branch.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix(linting): update ruff configuration with exit-non-zero-on-fix flag and format check
  .pre-commit-config.yaml
Due: trailing-whitespace, check-yaml, check-merge-conflict

style: apply prettier formatting to workflow files
  .github/workflows/main-branch.yml
  .pre-commit-config.yaml
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: finalize branch creation script improvements
  scripts/create-branch.js
Due: trailing-whitespace, check-merge-conflict

chore: remove deprecated create-branch.sh script
  scripts/create-branch.sh
Due: trailing-whitespace, check-merge-conflict

Fix issues from PR review: frontend tests, redundant env vars, and CI optimization
  .github/workflows/main-branch.yml.bak
  frontend/package.json
Due: trailing-whitespace, check-merge-conflict

Remove backup file
  .github/workflows/main-branch.yml.bak
Due: trailing-whitespace, check-merge-conflict

docs: update frontend README with Playwright test information
  frontend/README.md
Due: trailing-whitespace, check-merge-conflict

docs: update README with improved architecture and setup instructions
  README.md
Due: trailing-whitespace, check-merge-conflict

refactor: simplify Docker Compose configuration
  docker-compose.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

improve: enhance backend configuration and error handling
  backend/app/main.py
  backend/scripts/prestart.sh
Due: black, ruff, bandit, trailing-whitespace, check-merge-conflict

feat: upgrade frontend build system to use Bun and TurboRepo
  frontend/Dockerfile
  frontend/package.json
Due: trailing-whitespace, check-merge-conflict

refactor: remove redundant Docker Compose files
  docker-compose.override.yml
  docker-compose.status.yml
  docker-compose.test.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

feat: add Makefile for simplified development workflow
  Makefile
Due: trailing-whitespace, check-merge-conflict

feat: add modern build system configuration with Biome and TurboRepo
  biome.json
  turbo.json
Due: trailing-whitespace, check-merge-conflict

feat: add Traefik configuration for production routing and security
  traefik/dynamic/dashboard.yml
  traefik/dynamic/security.yml
  traefik/traefik.prod.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

test: add basic frontend test with Playwright
  frontend/.eslintrc.json
  frontend/tests/basic.spec.ts
Due: trailing-whitespace, check-merge-conflict

chore: update frontend dependencies with Bun and TurboRepo
  frontend/package-lock.json
Due: trailing-whitespace, check-merge-conflict

chore: update ESLint configuration formatting
  frontend/.eslintrc.json
Due: trailing-whitespace, check-merge-conflict

feat: extend TurboRepo to include backend tasks and improve monorepo configuration
  package.json
  turbo.json
Due: trailing-whitespace, check-merge-conflict

chore: add packageManager field to package.json for TurboRepo configuration
  package.json
Due: trailing-whitespace, check-merge-conflict

feat: update TurboRepo configuration to use Bun and Docker
  Makefile
  README.md
  package.json
Due: trailing-whitespace, check-merge-conflict

fix: update frontend Dockerfile to properly handle dev command with Bun
  frontend/Dockerfile
Due: trailing-whitespace, check-merge-conflict

feat: update docker-compose to mount TurboRepo config files in frontend container
  docker-compose.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

feat: complete TurboRepo and Bun integration for improved build performance
  .turbo/cookies/1.cookie
  .turbo/daemon/4723e80b5db7744d-turbo.log.2025-03-15
  Makefile
  README.md
  docker-compose.yml
  frontend/.turbo/daemon/f53b52ad6d21cceb-turbo.log.2025-03-15
  frontend/Dockerfile
  frontend/turbo.json
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: update frontend Dockerfile to properly run Vite with Bun
  frontend/Dockerfile
Due: trailing-whitespace, check-merge-conflict

feat: Integrate TurboRepo with Bun for frontend workflow
  Makefile
  docker-compose.yml
  frontend/.biomeignore
  frontend/.turbo/daemon/9d3db11b2e8366b1-turbo.log.2025-03-15
  frontend/Dockerfile
  frontend/biome.json
  frontend/src/components/Common/UserMenu.tsx
  frontend/src/components/ui/provider.tsx
  frontend/src/routes/_layout/admin.tsx
  frontend/src/routes/_layout/items.tsx
  frontend/tests/basic.spec.ts
  frontend/turbo.json
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: Format frontend code with Biome
  frontend/package.json
  frontend/src/client/core/ApiError.ts
  frontend/src/client/core/ApiRequestOptions.ts
  frontend/src/client/core/ApiResult.ts
  frontend/src/client/core/CancelablePromise.ts
  frontend/src/client/core/OpenAPI.ts
  frontend/src/client/core/request.ts
  frontend/src/client/sdk.gen.ts
  frontend/src/client/types.gen.ts
  frontend/tests/auth.setup.ts
  frontend/tests/basic.spec.ts
  frontend/tests/config.ts
  frontend/tests/login.spec.ts
  frontend/tests/reset-password.spec.ts
  frontend/tests/sign-up.spec.ts
  frontend/tests/user-settings.spec.ts
  frontend/tests/utils/mailcatcher.ts
  frontend/tests/utils/privateApi.ts
  frontend/tests/utils/random.ts
  frontend/tests/utils/user.ts
  frontend/turbo.json
Due: trailing-whitespace, check-merge-conflict

Fix pre-commit issues and remove Turbo Repo configurations
  .dockerignore
  .turbo/cookies/1.cookie
  .turbo/daemon/4723e80b5db7744d-turbo.log.2025-03-15
  Makefile
  aws/task-definitions/backend.json
  aws/task-definitions/frontend.json
  backend/package.json
  docker-compose.yml
  frontend/.env.test
  frontend/.playwright-env
  frontend/Dockerfile
  frontend/package.json
  frontend/setup-playwright.sh
  frontend/src/hooks/useAuth.ts
  frontend/src/main.tsx
  frontend/src/routes/login.tsx
  frontend/tests/config.ts
  frontend/tests/utils/privateApi.ts
  frontend/turbo.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  test_login.py
  turbo.json
Due: black, ruff, bandit, trailing-whitespace, check-yaml, check-merge-conflict

fix: remove Turbo Repo and Bun references, update for pnpm-based workflow
  .github/workflows/main-branch.yml
  Makefile
  README.md
  docker-compose.yml
  docs/workflows/github-actions.md
  frontend/README.md
  frontend/package.json
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: address PR review comments for Makefile consistency and remove turbo.json reference
  Makefile
  frontend/Dockerfile
Due: trailing-whitespace, check-merge-conflict

fix: add specific pnpm version (pr comment)
  .github/workflows/main-branch.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: update README.md to use consistent Docker commands
  README.md
Due: trailing-whitespace, check-merge-conflict

Path conditions:
  black: any of: *.py
  ruff: any of: *.py
  bandit: any of: *.py
  trailing-whitespace: any of: *, but not: ^.*\.snap$
  check-yaml: any of: *.{yml,yaml}
  check-merge-conflict: any of: *
