Repository datascientest-fastAPI-project-group-25/fastAPI-project-app: changes, and which lefthook commands are due for each by the changed paths.
All: black, ruff, bandit, trailing-whitespace, check-yaml, check-merge-conflict

black:
  run: black {staged_files}

ruff:
  run: ruff check --fix {staged_files} && ruff format {staged_files}

bandit:
  run: bandit -ll {staged_files}

trailing-whitespace:
  run: sed -i '' -e 's/[[:space:]]*$//' {staged_files}

check-yaml:
  run: yamllint -d relaxed {staged_files}

check-merge-conflict:
  run: grep -L "^<<<<<<< " {staged_files} || true

feat: implement interactive branch creation and improved Git hooks
  .github/workflows/branch-protection.yml
  .github/workflows/feature-branch.yml
  .github/workflows/fix-branch.yml
  .github/workflows/main-branch.yml
  .releaserc.json
  TODO.md
  commitlint.config.js
  docs/BRANCHING_STRATEGY.md
  frontend/src/client/core/request.ts
  frontend/src/client/sdk.gen.ts
  frontend/src/hooks/useAuth.ts
  frontend/src/main.tsx
  frontend/src/routes/login.tsx
  frontend/src/vite-env.d.ts
  frontend/tsconfig.json
  hooks/post-checkout.sh
  lefthook.yml
  package-lock.json
  package.json
  scripts/create-branch.js
  scripts/create-branch.sh
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: improve post-checkout hook reliability for interactive prompts
  .github/workflows/feature-branch.yml
  hooks/post-checkout.sh
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: improve CI pipeline and Docker Compose reliability
  .github/workflows/feature-branch.yml
  .github/workflows/fix-branch.yml
  .github/workflows/main-branch.yml
  backend/requirements.txt
  backend/scripts/prestart.sh
Due: trailing-whitespace, check-yaml, check-merge-conflict

Delete .env
  .env
Due: trailing-whitespace, check-merge-conflict

Delete TODO.md
  TODO.md
Due: trailing-whitespace, check-merge-conflict

fix: Migrate from AWS ECR to GitHub Container Registry (GHCR)
  .github/workflows/feature-branch.yml
  .github/workflows/fix-branch.yml
  .github/workflows/main-branch.yml
  .github/workflows/push-to-ghcr.yml
  README.md
  backend/scripts/prestart.sh
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: Address line length issues in GitHub Actions workflow files
  .github/workflows/feature-branch.yml
  .github/workflows/fix-branch.yml
  .github/workflows/main-branch.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: Address line length issues in GitHub Actions workflow files
  .github/workflows/fix-branch.yml
  .github/workflows/main-branch.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

feat: migrate from lefthook to pre-commit for git hooks
  .pre-commit-config.yaml
  README.md
  debug-commit-msg.sh
  docs/BRANCHING_STRATEGY.md
  docs/git-hooks.md
  lefthook.yml
  scripts/setup-lefthook.sh
  scripts/setup-precommit.sh
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: update pre-commit hooks to use script-based approach for better compatibility
  .pre-commit-config.yaml
  scripts/block-main-push.py
Due: black, ruff, bandit, trailing-whitespace, check-yaml, check-merge-conflict

fix: add required permissions to fix-branch workflow for PR creation
  .github/workflows/fix-branch.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

feat: add pre-commit badge to README
  README.md
Due: trailing-whitespace, check-merge-conflict

fix: update GitHub token configuration in workflows
  .github/workflows/feature-branch.yml
  .github/workflows/fix-branch.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: update workflows to use main branch instead of dev
  .github/workflows/auto-pr.yml
  .github/workflows/feature-branch.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: remove Lefthook references from documentation and Git hooks
  docs/README.md
Due: trailing-whitespace, check-merge-conflict

fix: improve GitHub Actions workflows and clean up Lefthook references
  .github/workflows/fix-branch.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

Fix GitHub Actions workflows: Add permissions to push-to-ghcr.yml and improve PR reviewer assignment with error handling
  .github/workflows/pr-workflow.yml
  .github/workflows/push-to-ghcr.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

Fix Docker build workflow to use separate contexts for backend and frontend
  .github/workflows/push-to-ghcr.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

Update gitignore to exclude AI assistant files
  .gitignore
Due: trailing-whitespace, check-merge-conflict

feat: Temporarily disable all workflows for systematic debugging
  .github/workflows/README.md
  .github/workflows/_shared/jobs.yml.disabled
  .github/workflows/auto-pr.yml.disabled
  .github/workflows/branch-protection.yml.disabled
  .github/workflows/branch/dev.yml.disabled
  .github/workflows/branch/feature.yml.disabled
  .github/workflows/branch/main.yml.disabled
  .github/workflows/ci/generate-client.yml.disabled
  .github/workflows/ci/lint.yml.disabled
  .github/workflows/ci/smokeshow.yml.disabled
  .github/workflows/deploy/production.yml.disabled
  .github/workflows/deploy/staging.yml.disabled
  .github/workflows/feature-branch.yml.disabled
  .github/workflows/fix-branch.yml.disabled
  .github/workflows/latest-changes.yml.disabled
  .github/workflows/main-branch.yml.disabled
  .github/workflows/pr-workflow.yml.disabled
  .github/workflows/push-to-ghcr.yml.disabled
  .github/workflows/testing/backend.yml.disabled
  .github/workflows/testing/e2e.yml.disabled
  .github/workflows/testing/integration.yml.disabled
  disable-workflows.sh
  enable-workflow.sh
Due: trailing-whitespace, check-merge-conflict

Update disable-workflows.sh
  disable-workflows.sh
Due: trailing-whitespace, check-merge-conflict

Update enable-workflow.sh
  enable-workflow.sh
Due: trailing-whitespace, check-merge-conflict

feat: Re-enable branch-protection workflow and fix enable-workflow.sh script
  .github/workflows/branch-protection.yml
  enable-workflow.sh
Due: trailing-whitespace, check-yaml, check-merge-conflict

refactor: Fix context access warnings in branch-protection workflow
  .github/workflows/branch-protection.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

feat: re-enable and improve main-branch workflow with better Docker build process and conditional logic
  .github/workflows/main-branch.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

refactor: improve Docker build process using Docker's official GitHub Actions
  .github/workflows/main-branch.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: add environment variables for backend tests in main-branch workflow
  .github/workflows/main-branch.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: improve security by using GitHub secrets for sensitive information and add explanatory comments
  .github/workflows/main-branch.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: improve branch protection workflow with clearer messages
  .github/workflows/branch-protection.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

docs: add reference to branching strategy documentation in warning message
  .github/workflows/branch-protection.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: add PostgreSQL service to main-branch workflow for backend tests
  .github/workflows/main-branch.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: address review comments for PostgreSQL service configuration
  .github/workflows/main-branch.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: update branch protection to allow PR merge commits
  .github/workflows/branch-protection.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: improve PR merge detection with robust checks and documentation
  .github/workflows/branch-protection.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: add database schema initialization step to main-branch workflow
  .github/workflows/main-branch.yml
  .gitignore
Due: trailing-whitespace, check-yaml, check-merge-conflict

add comment for fix
  .github/workflows/main-branch.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

refactor: move database initialization to a dedicated script
  .github/workflows/main-branch.yml
  backend/scripts/init_db.py
Due: black, ruff, bandit, trailing-whitespace, check-yaml, check-merge-conflict

fix: improve error handling in database initialization script
  backend/scripts/init_db.py
Due: black, ruff, bandit, trailing-whitespace, check-merge-conflict

fix: improve error handling and add detailed logging to database initialization script
  backend/scripts/init_db.py
Due: black, ruff, bandit, trailing-whitespace, check-merge-conflict

fix: implement Gemini Code Assist suggestions for better script handling
  .github/workflows/main-branch.yml
  backend/scripts/init_db.py
Due: black, ruff, bandit, trailing-whitespace, check-yaml, check-merge-conflict

Path conditions:
  black: any of: *.py
  ruff: any of: *.py
  bandit: any of: *.py
  trailing-whitespace: any of: *, but not: ^.*\.snap$
  check-yaml: any of: *.{yml,yaml}
  check-merge-conflict: any of: *
