Repository datascientest-fastAPI-project-group-25/fastAPI-project-app: changes, and which lefthook commands are due for each by the changed paths.
All: black, ruff, bandit, trailing-whitespace, check-yaml, check-merge-conflict

black:
  run: black {staged_files}

ruff:
  run: ruff check --fix {staged_files} && ruff format {staged_files}

bandit:
  run: bandit -ll {staged_files}

trailing-whitespace:
  run: sed -i '' -e 's/[[:space:]]*$//' {staged_files}

check-yaml:
  run: yamllint -d relaxed {staged_files}

check-merge-conflict:
  run: grep -L "^<<<<<<< " {staged_files} || true

Update .gitignore to exclude additional temporary files
  .gitignore
Due: trailing-whitespace, check-merge-conflict

Add frontend testing dependencies and Docker configuration
  backend/package.json
  docker-compose.yml
  frontend/package.json
  pnpm-lock.yaml
Due: trailing-whitespace, check-yaml, check-merge-conflict

docs: update TODO to reflect progress on frontend testing and CI improvements
  TODO
Due: trailing-whitespace, check-merge-conflict

fix: update pnpm version in GitHub workflow to match package.json (10.6.4)
  .github/workflows/main-branch.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: create default .env file in CI environment for frontend tests
  Makefile
Due: trailing-whitespace, check-merge-conflict

fix: use alternative port for PostgreSQL in frontend tests to avoid conflicts
  Makefile
Due: trailing-whitespace, check-merge-conflict

fix: update docker-compose to docker compose in CI workflow
  .github/workflows/main-branch.yml
  TODO.md
  frontend/package.json
  frontend/tests/auth.setup.ts
  pnpm-lock.yaml
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: update docker-compose to docker compose in CI workflow-2
  pnpm-lock.yaml
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: update pnpm cache paths to use root lock file
  .github/workflows/main-branch.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: add proper type annotations and fix PostgresDsn conversion
  backend/app/core/config.py
  backend/app/test_auth.py
Due: black, ruff, bandit, trailing-whitespace, check-merge-conflict

fix: make config load test env file when running tests
  backend/app/core/config.py
Due: black, ruff, bandit, trailing-whitespace, check-merge-conflict

fix: manually export test environment variables to avoid line ending issues
  scripts/run-tests.sh
Due: trailing-whitespace, check-merge-conflict

feat: add CI/CD workflows and test environment configuration
  .github/workflows/testing/backend.yml
  .github/workflows/testing/integration.yml
  docker-compose.test.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

feat: add development tools and security scanning
  Makefile
  backend/requirements.txt
Due: trailing-whitespace, check-merge-conflict

chore: remove npm package-lock.json in favor of pnpm
  frontend/package-lock.json
Due: trailing-whitespace, check-merge-conflict

feat: improve test workflow with platform detection and secrets management
  scripts/test-workflow.sh
Due: trailing-whitespace, check-merge-conflict

feat: add proper security scanning configuration
  .github/workflows/security.yml
  .pre-commit-config.yaml
  backend/bandit.yaml
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: update security workflow to use JSON format for Bandit
  .github/workflows/security.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: simplify security workflow to use text output
  .github/workflows/security.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: use correct format 'txt' for Bandit output
  .github/workflows/security.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: update workflow to install uv and fix test_auth.py return type
  .github/workflows/main-branch.yml
  backend/app/test_auth.py
Due: black, ruff, bandit, trailing-whitespace, check-yaml, check-merge-conflict

fix: update security workflow to use 'uv' for installing bandit and safety
  .github/workflows/main-branch.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: update workflow to activate venv and fix formatting issues
  .github/workflows/main-branch.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

feat: add automatic code formatting to pre-commit hooks and Makefile
  .pre-commit-config.yaml
  Makefile
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: update format target to install pnpm in frontend container
  Makefile
Due: trailing-whitespace, check-merge-conflict

chore: migrate to uv with pyproject.toml and update workflow
  .github/workflows/main-branch.yml
  backend/pyproject.toml
  backend/requirements.txt
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: update bandit configuration and improve code formatting in config and utils
  backend/app/core/config.py
  backend/app/tests/utils/utils.py
  backend/bandit.yaml
Due: black, ruff, bandit, trailing-whitespace, check-yaml, check-merge-conflict

chore: update docker and make setup to use uv with dependency groups
  Makefile
  README.md
  docker-compose.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

chore: update workflow to use uv properly and improve caching
  .github/workflows/main-branch.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

ci: Improve caching with pnpm-lock and uv.lock
  .github/workflows/main-branch.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

chore: update TODO with today's tasks
  .github/workflows/test-changelog.yml
  .github/workflows/update-docs.yml
  TODO
  docker-compose.yml
  docs/CHANGELOG.md
  frontend/src/routeTree.gen.ts
  scripts/test-docs-update.sh
Due: trailing-whitespace, check-yaml, check-merge-conflict

test: add basic workflow test
  .github/workflows/test-workflow.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

Add workflow_dispatch trigger and update pre-commit config
  .github/workflows/feature-branch.yml
  .github/workflows/feature-branch.yml.disabled
  .pre-commit-config.yaml
  TODO.md
Due: trailing-whitespace, check-yaml, check-merge-conflict

Resolve merge conflicts with main branch
  .github/workflows/feature-branch.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

Rename workflow file to match workflow name
  .github/workflows/feature-branch-checks.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

Update workflow to use pyproject.toml for dependencies
  .github/workflows/feature-branch-checks.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

Path conditions:
  black: any of: *.py
  ruff: any of: *.py
  bandit: any of: *.py
  trailing-whitespace: any of: *, but not: ^.*\.snap$
  check-yaml: any of: *.{yml,yaml}
  check-merge-conflict: any of: *
