Repository datascientest-fastAPI-project-group-25/fastAPI-project-app: changes, and which lefthook commands are due for each by the changed paths.
All: black, ruff, bandit, trailing-whitespace, check-yaml, check-merge-conflict

black:
  run: black {staged_files}

ruff:
  run: ruff check --fix {staged_files} && ruff format {staged_files}

bandit:
  run: bandit -ll {staged_files}

trailing-whitespace:
  run: sed -i '' -e 's/[[:space:]]*$//' {staged_files}

check-yaml:
  run: yamllint -d relaxed {staged_files}

check-merge-conflict:
  run: grep -L "^<<<<<<< " {staged_files} || true

Update Bandit scan to exclude virtual environment
  .github/workflows/feature-branch-checks.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

Update Node.js version and pnpm setup for frontend tests
  .github/workflows/feature-branch-checks.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

Update workflows README with better organization and documentation
  .github/workflows/README.md
Due: trailing-whitespace, check-merge-conflict

Streamline workflows: Protect main and dev branches, remove unused workflows, update documentation
  .github/workflows/README.md
  .github/workflows/branch-protection.yml
  .github/workflows/ci.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

Remove empty ci.yml file causing workflow confusion
  .github/workflows/ci.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

Clean up repository: Remove disabled workflows and TODO file
  .gitignore
  TODO
Due: trailing-whitespace, check-merge-conflict

refactor: Clean up and restructure GitHub workflows
  .github/workflows/README.md
  .github/workflows/_shared/jobs.yml.disabled
  .github/workflows/auto-pr.yml.disabled
  .github/workflows/branch-protection.yml.disabled
  .github/workflows/branch/branch-protection.yml
  .github/workflows/branch/dev.yml.disabled
  .github/workflows/branch/feature-branch.yml
  .github/workflows/branch/feature.yml.disabled
  .github/workflows/branch/fix-branch.yml
  .github/workflows/branch/main-branch.yml
  .github/workflows/branch/main.yml.disabled
  .github/workflows/ci/generate-client.yml.disabled
  .github/workflows/ci/lint.yml
  .github/workflows/ci/lint.yml.disabled
  .github/workflows/ci/push-to-ghcr.yml
  .github/workflows/ci/security.yml
  .github/workflows/ci/smokeshow.yml.disabled
  .github/workflows/ci/update-docs.yml
  .github/workflows/deploy/production.yml.disabled
  .github/workflows/deploy/staging.yml.disabled
  .github/workflows/feature-branch-checks.yml
  .github/workflows/latest-changes.yml.disabled
  .github/workflows/pr-workflow.yml.disabled
  .github/workflows/test-workflow-fixed.sh
  .github/workflows/test-workflow.sh
  .github/workflows/test-workflow.yml
  .github/workflows/testing/backend.yml
  .github/workflows/testing/backend.yml.disabled
  .github/workflows/testing/e2e.yml.disabled
  .github/workflows/testing/integration.yml
  .github/workflows/testing/integration.yml.disabled
  .github/workflows/utils/test-changelog.yml
  .github/workflows/utils/test-event.json
  .github/workflows/utils/test-workflow.sh
  .github/workflows/utils/test-workflow.yml
  .pre-commit-config.yaml
  Makefile
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: Remove fragment of old test-workflow target from Makefile
  Makefile
Due: trailing-whitespace, check-merge-conflict

fix: update GitHub workflows to fix configuration issues and improve testing
  .github/workflows/dev/merge-to-dev.yml
  .github/workflows/dev/pr-to-dev.yml
  .github/workflows/feature/feature-push.yml
  .github/workflows/main/merge-to-main.yml
  .github/workflows/main/pr-to-main.yml
  .github/workflows/pre-commit/pre-commit.yml
  .github/workflows/shared/shared-build.yml
  .github/workflows/shared/shared-tests.yml
  .pre-commit-config.yaml
  TODO.md
Due: trailing-whitespace, check-yaml, check-merge-conflict

refactor: update project structure and workflows for better organization
  .github/workflows/branch/branch-protection.yml
  .github/workflows/branch/feature-branch.yml
  .github/workflows/branch/fix-branch.yml
  .github/workflows/branch/main-branch.yml
  .github/workflows/ci/lint.yml
  .github/workflows/ci/push-to-ghcr.yml
  .github/workflows/ci/security.yml
  .github/workflows/ci/update-docs.yml
  .github/workflows/shared/shared-release.yml
  .github/workflows/test-workflow-fixed.sh
  .github/workflows/utils/test-changelog.yml
  .github/workflows/utils/test-event.json
  .github/workflows/utils/test-workflow.sh
  .github/workflows/utils/test-workflow.yml
  Makefile
  backend/app/core/config.py
  backend/app/core/security.py
  backend/app/crud.py
  backend/app/models.py
  backend/app/tests/api/routes/test_login.py
  backend/app/tests/api/routes/test_users.py
  backend/app/tests/utils/utils.py
  backend/app/utils.py
  backend/scripts/init_db.py
  docs/BRANCHING_STRATEGY.md
  frontend/package.json
  pnpm-lock.yaml
  scripts/block-main-push.py
  scripts/create-branch.js
  scripts/setup-precommit.js
  scripts/setup-precommit.sh
  scripts/test-app.js
  scripts/test-app.sh
  scripts/test-workflow-selector.js
  scripts/test-workflow.sh
  scripts/validate_env.py
  test_login.py
Due: black, ruff, bandit, trailing-whitespace, check-yaml, check-merge-conflict

feat: add workflow testing functionality to Makefile
  Makefile
  scripts/test-workflow.sh
Due: trailing-whitespace, check-merge-conflict

fix: update JavaScript utility scripts for workflow testing
  scripts/setup-precommit.js
  scripts/test-app.js
  scripts/test-workflow-selector.js
Due: trailing-whitespace, check-merge-conflict

update Makefile
  Makefile
Due: trailing-whitespace, check-merge-conflict

fix: update pytest-check hook to run without requiring backend service
  .pre-commit-config.yaml
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: update pytest-check hook to use uv run and make it non-blocking
  .pre-commit-config.yaml
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: update feature-push workflow to properly use uv and add frontend tests
  .github/workflows/feature/feature-push.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

Fix PR feedback: Remove redundant tools, fix branch protection workflow, clean up Makefile
  .github/workflows/branch-protection.yml
  .pre-commit-config.yaml
  Makefile
Due: trailing-whitespace, check-yaml, check-merge-conflict

Add workflow to approve PR using machine user token
  .github/workflows/approve-pr.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: update branch protection workflow to handle PRs correctly
  .github/workflows/branch-protection.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

feat: add integration tests and improve Makefile documentation
  Makefile
  backend/app/tests/integration/test_integration.py
Due: black, ruff, bandit, trailing-whitespace, check-merge-conflict

refactor: remove redundant test-workflow.sh script
  .github/workflows/utils/test-workflow.sh
Due: trailing-whitespace, check-merge-conflict

refactor: remove redundant test-workflow.sh script
  .gitignore
Due: trailing-whitespace, check-merge-conflict

feat: improve workflow testing infrastructure with test environment and custom containers
  .actrc
  .github/workflows/events/pull_request.json
  .github/workflows/events/push.json
  .github/workflows/events/workflow_call.json
  .github/workflows/utils/Dockerfile.workflow-test
  .github/workflows/utils/test-workflow.sh
  scripts/test-workflow-selector.js
  scripts/test-workflow.sh
Due: trailing-whitespace, check-merge-conflict

docs: add workflow test Docker image documentation and Makefile target
  Makefile
  README.md
  docs/development/scripts.md
Due: trailing-whitespace, check-merge-conflict

refactor: improve Docker configuration and prestart script
  .gitignore
  .windsurfrules
  TODO.md
  backend/Dockerfile
  backend/app/core/config.py
  backend/app/models.py
  backend/app/tests/integration/test_integration.py
  backend/app/tests/utils/utils.py
  backend/scripts/prestart.sh
  docker-compose.yml
Due: black, ruff, bandit, trailing-whitespace, check-yaml, check-merge-conflict

Merge dev into main (#73)
  .actrc
  .github/workflows/events/pull_request.json
  .github/workflows/events/push.json
  .github/workflows/events/workflow_call.json
  .github/workflows/utils/Dockerfile.workflow-test
  .github/workflows/utils/test-workflow.sh
  .gitignore
  .windsurfrules
  Makefile
  README.md
  TODO.md
  backend/Dockerfile
  backend/app/core/config.py
  backend/app/models.py
  backend/app/tests/integration/test_integration.py
  backend/app/tests/utils/utils.py
  backend/scripts/prestart.sh
  docker-compose.yml
  docs/development/scripts.md
  scripts/test-workflow-selector.js
  scripts/test-workflow.sh
Due: black, ruff, bandit, trailing-whitespace, check-yaml, check-merge-conflict

fix: remove trailing whitespace from create-branch.js
  scripts/create-branch.js
Due: trailing-whitespace, check-merge-conflict

chore: update GitHub Actions workflows for improved Docker handling and PostgreSQL readiness checks
  .github/workflows/dev/merge-to-dev.yml
  .github/workflows/dev/pr-to-dev.yml
  .github/workflows/feature/feature-push.yml
  .github/workflows/pre-commit/pre-commit.yml
  .github/workflows/shared/shared-build.yml
  .github/workflows/shared/shared-tests.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

feat: implement automerge workflow for fix/*-automerge branches
  .github/workflows/automerge.yml
  TODO.md
  docs/workflows/github-actions.md
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: handle null status in automerge workflow
  .github/workflows/automerge.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

feat: add fix/workflow-fixes-automerge branch to feature push workflow
  .github/workflows/feature/feature-push.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

refactor: use workflow_run trigger for automerge workflow
  .github/workflows/automerge.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

docs: update automerge workflow documentation
  docs/workflows/github-actions.md
Due: trailing-whitespace, check-merge-conflict

fix: remove auto-approve step and improve merge error handling
  .github/workflows/automerge.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

feat: implement automerge workflow for fix/*-automerge branches (#74)
  .github/workflows/automerge.yml
  .github/workflows/dev/merge-to-dev.yml
  .github/workflows/dev/pr-to-dev.yml
  .github/workflows/feature/feature-push.yml
  .github/workflows/pre-commit/pre-commit.yml
  .github/workflows/shared/shared-build.yml
  .github/workflows/shared/shared-tests.yml
  TODO.md
  docs/workflows/github-actions.md
  scripts/create-branch.js
Due: trailing-whitespace, check-yaml, check-merge-conflict

feat: implement automerge workflow for fix/*-automerge branches (#74) (#75)
  .github/workflows/automerge.yml
  .github/workflows/dev/merge-to-dev.yml
  .github/workflows/dev/pr-to-dev.yml
  .github/workflows/feature/feature-push.yml
  .github/workflows/pre-commit/pre-commit.yml
  .github/workflows/shared/shared-build.yml
  .github/workflows/shared/shared-tests.yml
  TODO.md
  docs/workflows/github-actions.md
  scripts/create-branch.js
Due: trailing-whitespace, check-yaml, check-merge-conflict

feat: improve feature branch workflow to auto-create PR and use shared tests
  .github/workflows/feature/feature-push.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

chore: update workflow name to trigger run
  .github/workflows/feature/feature-push.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

chore: simplify workflow trigger
  .github/workflows/feature/feature-push.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

Path conditions:
  black: any of: *.py
  ruff: any of: *.py
  bandit: any of: *.py
  trailing-whitespace: any of: *, but not: ^.*\.snap$
  check-yaml: any of: *.{yml,yaml}
  check-merge-conflict: any of: *
