Repository datascientest-fastAPI-project-group-25/fastAPI-project-app: changes, and which lefthook commands are due for each by the changed paths.
All: black, ruff, bandit, trailing-whitespace, check-yaml, check-merge-conflict

lefthook.yml:

# Lefthook configuration for FastAPI project
# See https://github.com/evilmartians/lefthook for more information

# Global options
skip_output:
  - meta
  - summary
  - success

# Pre-commit hooks
pre-commit:
  parallel: true
  commands:
    black:
      glob: "*.py"
      run: black {staged_files}
    ruff:
      glob: "*.py"
      run: ruff check --fix {staged_files} && ruff format {staged_files}
    bandit:
      glob: "*.py"
      run: bandit -ll {staged_files}
    trailing-whitespace:
      glob: "*"
      exclude: "^.*\\.snap$"
      run: sed -i '' -e 's/[[:space:]]*$//' {staged_files}
    check-yaml:
      glob: "*.{yml,yaml}"
      run: yamllint -d relaxed {staged_files}
    check-merge-conflict:
      glob: "*"
      run: grep -L "^<<<<<<< " {staged_files} || true

# Pre-push hooks
pre-push:
  parallel: true
  commands:
    block-main-push:
      run: |
        # Get the current branch and target branch
        current_branch=$(git symbolic-ref --short HEAD)
        target_branch=$(git rev-parse --abbrev-ref @{upstream} | sed 's/origin\///')

        # Block direct pushes to main
        if [ "$current_branch" = "main" ] || [ "$target_branch" = "main" ]; then
          echo "❌ ERROR: Direct pushes to main branch are not allowed."
          echo "Please create a feature (feat/*) or fix branch and submit a pull request instead."
          echo "Run: ./scripts/create-branch.sh to create a proper branch."
          exit 1
        fi
    pytest:
      root: "backend/"
      run: pytest -xvs app/tests/

# Post-checkout hook to prompt for branch creation when checking out main
post-checkout:
  commands:
    branch-prompt:
      run: ./hooks/post-checkout.sh $1 $2 $3

# Commit message validation - simplified to be less strict
commit-msg:
  commands:
    lint-commit-msg:
      run: |
        commit_msg_file=$1
        commit_msg=$(cat $commit_msg_file)

        # Basic validation - just ensure there's a meaningful message
        if [ ${#commit_msg} -lt 10 ]; then
          echo "❌ Commit message is too short."
          echo "Please provide a meaningful commit message (at least 10 characters)."
          exit 1
        fi

fix: ensure semantic version is always in X.Y.Z format
  .github/workflows/trigger-helm-release.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: use VERSION file for staging semantic version and append -stg suffix
  .github/workflows/trigger-helm-release.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

feat: add health check endpoints for monitoring and orchestration
  backend/app/main.py
Due: black, ruff, bandit, trailing-whitespace, check-merge-conflict

feat: enhance health check endpoints with detailed metrics and error handling
  backend/app/main.py
Due: black, ruff, bandit, trailing-whitespace, check-merge-conflict

fix: make health checks resilient to missing psutil and add psutil to dependencies
  backend/app/main.py
  backend/pyproject.toml
Due: black, ruff, bandit, trailing-whitespace, check-merge-conflict

fix: address security issues in health check endpoints
  backend/app/main.py
Due: black, ruff, bandit, trailing-whitespace, check-merge-conflict

feat: add request logging middleware for improved monitoring
  backend/app/main.py
Due: black, ruff, bandit, trailing-whitespace, check-merge-conflict

fix: add new_version output to build-image workflow to fix semantic version passing for staging builds
  .github/workflows/build-image.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

feat: enhance PR creation workflow with optional label input and improved logging
  .github/workflows/feature-to-staging.yml
  .github/workflows/pr-creation.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

feat: add check to skip PR creation for merge commits
  .github/workflows/pr-creation.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: reorder step to skip PR creation for merge commits
  .github/workflows/pr-creation.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: Remove hardcoded fallback versions and add proper error handling
  .github/workflows/build-prod-image.yml
  .github/workflows/trigger-helm-release.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

docs: Add PLAN.md to track progress
  PLAN.md
Due: trailing-whitespace, check-merge-conflict

fix: Remove hardcoded fallback versions and add proper error handling
  .github/workflows/build-prod-image.yml
  .github/workflows/trigger-helm-release.yml
  PLAN.md
Due: trailing-whitespace, check-yaml, check-merge-conflict

feat: Improve documentation for image tag format and version handling
  .github/workflows/build-image.yml
  .github/workflows/trigger-helm-release.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

feat: Trigger staging build
  README.md
Due: trailing-whitespace, check-merge-conflict

Refactor: Remove local PLAN.md, consolidating to root project directory
  PLAN.md
Due: trailing-whitespace, check-merge-conflict

feat: introduce gh action linting to pre-commit
  .pre-commit-config.yaml
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: Add promote-to-main label to auto PR from staging to main
  .github/workflows/staging-to-main.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: Add clean_semver output to trigger-helm-release.yml workflow
  .github/workflows/trigger-helm-release.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: update version bumping process to create PR instead of pushing directly
  .github/workflows/build-image.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

feat: Add dummy comment to trigger CI/CD
  README.md
Due: trailing-whitespace, check-merge-conflict

ci: improve version bump and Docker image tagging
  .github/workflows/build-image.yml
  .github/workflows/build-stg-image.yml
  PLAN.md
Due: trailing-whitespace, check-yaml, check-merge-conflict

ci: implement image retagging for production with version verification
  .github/workflows/build-prod-image.yml
  PLAN.md
Due: trailing-whitespace, check-yaml, check-merge-conflict

ci: create pre-release on merge to stg
  .github/workflows/build-image.yml
  .github/workflows/build-stg-image.yml
  PLAN.md
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: correct reusable workflow outputs and minor cleanup
  .github/workflows/build-image.yml
  .github/workflows/build-prod-image.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: action build proble
  .github/workflows/build-image.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: move version bumping to PR creation workflow
  .github/workflows/build-image.yml
  .github/workflows/build-stg-image.yml
  .github/workflows/bump-version-on-pr.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: use official uv installation method
  .github/workflows/bump-version-on-pr.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: simplify version bump workflow
  .github/workflows/bump-version-on-pr.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: improve version bump PR title handling
  .github/workflows/bump-version-on-pr.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: update workflow secrets configuration
  .github/workflows/build-image.yml
  .github/workflows/build-stg-image.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: align parameter names between workflows
  .github/workflows/build-stg-image.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: comprehensive workflow fixes for CI/CD pipeline
  .github/workflows/build-image.yml
  .github/workflows/build-stg-image.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: remove explicit GITHUB_TOKEN definition and passing
  .github/workflows/build-image.yml
  .github/workflows/build-stg-image.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: ensure repository names are lowercase for Docker compatibility
  .github/workflows/build-image.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: add checkout steps to collect-outputs and add-comment jobs
  .github/workflows/build-image.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: remove duplicate context declaration in add-comment job
  .github/workflows/build-image.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: ensure Docker images are published under organization name instead of random user
  .github/workflows/build-image.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict
