Repository datascientest-fastAPI-project-group-25/fastAPI-project-app: changes, and which lefthook commands are due for each by the changed paths.
All: black, ruff, bandit, trailing-whitespace, check-yaml, check-merge-conflict

lefthook.yml:

# Lefthook configuration for FastAPI project
# See https://github.com/evilmartians/lefthook for more information

# Global options
skip_output:
  - meta
  - summary
  - success

# Pre-commit hooks
pre-commit:
  parallel: true
  commands:
    black:
      glob: "*.py"
      run: black {staged_files}
    ruff:
      glob: "*.py"
      run: ruff check --fix {staged_files} && ruff format {staged_files}
    bandit:
      glob: "*.py"
      run: bandit -ll {staged_files}
    trailing-whitespace:
      glob: "*"
      exclude: "^.*\\.snap$"
      run: sed -i '' -e 's/[[:space:]]*$//' {staged_files}
    check-yaml:
      glob: "*.{yml,yaml}"
      run: yamllint -d relaxed {staged_files}
    check-merge-conflict:
      glob: "*"
      run: grep -L "^<<<<<<< " {staged_files} || true

# Pre-push hooks
pre-push:
  parallel: true
  commands:
    block-main-push:
      run: |
        # Get the current branch and target branch
        current_branch=$(git symbolic-ref --short HEAD)
        target_branch=$(git rev-parse --abbrev-ref @{upstream} | sed 's/origin\///')

        # Block direct pushes to main
        if [ "$current_branch" = "main" ] || [ "$target_branch" = "main" ]; then
          echo "❌ ERROR: Direct pushes to main branch are not allowed."
          echo "Please create a feature (feat/*) or fix branch and submit a pull request instead."
          echo "Run: ./scripts/create-branch.sh to create a proper branch."
          exit 1
        fi
    pytest:
      root: "backend/"
      run: pytest -xvs app/tests/

# Post-checkout hook to prompt for branch creation when checking out main
post-checkout:
  commands:
    branch-prompt:
      run: ./hooks/post-checkout.sh $1 $2 $3

# Commit message validation - simplified to be less strict
commit-msg:
  commands:
    lint-commit-msg:
      run: |
        commit_msg_file=$1
        commit_msg=$(cat $commit_msg_file)

        # Basic validation - just ensure there's a meaningful message
        if [ ${#commit_msg} -lt 10 ]; then
          echo "❌ Commit message is too short."
          echo "Please provide a meaningful commit message (at least 10 characters)."
          exit 1
        fi

fix: standardize GitHub Actions workflow to use pnpm consistently
  .github/workflows/main-branch.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: improve GitHub Actions workflow with dedicated pnpm action
  .github/workflows/main-branch.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: add backend dependency installation step before security scan
  .github/workflows/main-branch.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: replace npx with pnpm exec for complete dependency consistency
  .github/workflows/main-branch.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: add Node.js and pnpm setup to publish-images job
  .github/workflows/main-branch.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: use pnpm exec for node command in Get version step
  .github/workflows/main-branch.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: add backend dependencies installation in lint job and optimize pnpm setup order
  .github/workflows/main-branch.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

Fix linting and security issues in backend code
  backend/.flake8
  backend/app/alembic/env.py
  backend/app/alembic/versions/1a31ce608336_add_cascade_delete_relationships.py
  backend/app/alembic/versions/9c0a54914c78_add_max_length_for_string_varchar_.py
  backend/app/alembic/versions/d98dd8ec85a3_edit_replace_id_integers_in_all_models_.py
  backend/app/alembic/versions/e2412789c190_initialize_models.py
  backend/app/core/config.py
  backend/app/test_auth.py
  backend/app/tests/utils/utils.py
  backend/app/utils.py
Due: black, ruff, bandit, trailing-whitespace, check-merge-conflict

chore: remove Husky in favor of pre-commit
  package.json
Due: trailing-whitespace, check-merge-conflict

chore: complete Husky removal and cleanup lock files
  package-lock.json
  pnpm-lock.yaml
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: add test environment for pre-commit hooks
  .env.test
  .pre-commit-config.yaml
  scripts/run-tests.sh
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: update .actrc to use GHCR instead of AWS ECR
  .actrc
Due: trailing-whitespace, check-merge-conflict

Fix: Replace hardcoded test password with randomly generated one and add ts-expect-error descriptions
  backend/app/test_auth.py
  frontend/src/client/core/ApiRequestOptions.ts
  frontend/src/client/core/ApiResult.ts
  frontend/src/client/core/request.ts
  frontend/src/client/index.ts
  frontend/src/client/sdk.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/hooks/useAuth.ts
  frontend/src/routes/login.tsx
  frontend/tests/utils/mailcatcher.ts
  frontend/tests/utils/privateApi.ts
Due: black, ruff, bandit, trailing-whitespace, check-merge-conflict

Fix: Replace 'any' type with more specific types in TypeScript files
  frontend/src/utils.ts
Due: trailing-whitespace, check-merge-conflict

Fix: Replace assert statements with ValueError for better security
  backend/app/tests/api/routes/test_private.py
  backend/app/tests/scripts/test_backend_pre_start.py
  backend/app/tests/scripts/test_test_pre_start.py
  backend/app/tests/utils/item.py
Due: black, ruff, bandit, trailing-whitespace, check-merge-conflict

Improve: Enhance error handling in tests with better structure and more descriptive messages
  backend/app/tests/api/routes/test_private.py
  backend/app/tests/scripts/test_backend_pre_start.py
  backend/app/tests/scripts/test_test_pre_start.py
  backend/app/tests/utils/item.py
Due: black, ruff, bandit, trailing-whitespace, check-merge-conflict

Update frontend/src/client/core/ApiResult.ts
  frontend/src/client/core/ApiResult.ts
Due: trailing-whitespace, check-merge-conflict

Update frontend/src/client/core/ApiRequestOptions.ts
  frontend/src/client/core/ApiRequestOptions.ts
Due: trailing-whitespace, check-merge-conflict

Fix: Apply Black formatting to alembic migration file
  backend/app/alembic/versions/1a31ce608336_add_cascade_delete_relationships.py
Due: black, ruff, bandit, trailing-whitespace, check-merge-conflict

Fix: Sort imports in security.py to fix ruff linting error
  backend/app/core/security.py
Due: black, ruff, bandit, trailing-whitespace, check-merge-conflict

Fix: Add missing format:check script to frontend package.json
  frontend/package.json
Due: trailing-whitespace, check-merge-conflict

fix: remove unnecessary check in precommit
  .pre-commit-config.yaml
Due: trailing-whitespace, check-yaml, check-merge-conflict

Fix: Add handleError export and install Playwright browsers in CI
  .github/workflows/main-branch.yml
  frontend/src/utils.ts
Due: trailing-whitespace, check-yaml, check-merge-conflict

refactor: simplify Makefile and organize scripts for better CI/CD support
  .pre-commit-config.yaml
  Makefile
  TODO.md
  docs/development/makefile.md
  scripts/create-branch.js
  scripts/init_db.py
  scripts/setup_project.sh
  scripts/test-local.sh
  scripts/validate_env.py
Due: black, ruff, bandit, trailing-whitespace, check-yaml, check-merge-conflict

chore: update scripts and documentation for better CI/CD support
  Makefile
  TODO.md
  docs/development/makefile.md
  scripts/create-branch.js
  scripts/test-local.sh
  scripts/validate_env.py
Due: black, ruff, bandit, trailing-whitespace, check-merge-conflict

fix: improve test-workflow.sh with verbose output and error handling
  .pre-commit-config.yaml
  scripts/test-workflow.sh
Due: trailing-whitespace, check-yaml, check-merge-conflict

feat: add GitHub Actions workflow testing targets to Makefile
  Makefile
Due: trailing-whitespace, check-merge-conflict

fix: update run-tests.sh to use source instead of export for environment variables
  scripts/run-tests.sh
Due: trailing-whitespace, check-merge-conflict

fix: add ENVIRONMENT=local to .env.test file to fix validation error
  .env.test
Due: trailing-whitespace, check-merge-conflict

fix: remove Poetry hooks from pre-commit config since we use UV for package management
  .pre-commit-config.yaml
  README.md
  docs/development/makefile.md
Due: trailing-whitespace, check-yaml, check-merge-conflict

chore: update .gitignore to exclude test and development directories
  .gitignore
Due: trailing-whitespace, check-merge-conflict

fix: update pnpm version in GitHub Actions to match package.json
  .github/workflows/main-branch.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: improve frontend test reliability and CI caching
  .github/workflows/main-branch.yml
  frontend/playwright.config.ts
  frontend/tests/auth.setup.ts
Due: trailing-whitespace, check-yaml, check-merge-conflict

feat: improve GitHub Actions workflow triggers for better feedback
  .github/workflows/main-branch.yml
Due: trailing-whitespace, check-yaml, check-merge-conflict

chore> todo updated
  TODO
  TODO.md
Due: trailing-whitespace, check-merge-conflict

fix: improve frontend test reliability and error handling
  .github/workflows/main-branch.yml
  frontend/playwright.config.ts
  frontend/tests/auth.setup.ts
Due: trailing-whitespace, check-yaml, check-merge-conflict

fix: update Makefile to make login check optional and update pnpm version
  Makefile
  package.json
Due: trailing-whitespace, check-merge-conflict

Standardize frontend test workflow using make test-frontend in both local and CI environments
  .github/workflows/main-branch.yml
  Makefile
Due: trailing-whitespace, check-yaml, check-merge-conflict

Update .gitignore to exclude temporary files and dependencies
  .gitignore
Due: trailing-whitespace, check-merge-conflict
